---
import ProjectCard from "../molecules/ProjectCard.astro";

const { projects = [], translations } = Astro.props;
---

<div class="mt-8 grid grid-cols-1 gap-4 sm:grid-cols-2 justify-around w-full">
    {projects.map((project: ProjectInterface) => (
        <ProjectCard
            projectName={project.projectName}
            projectDescription={project.projectDescription}
            projectImage={project.projectImage}
            projectLink={project.projectLink}
            projectWeb={project.projectWeb}
            projectTechnologies={project.projectTechnologies}
            inProgress={project.inProgress}
            translations={translations}
        />
    ))}
</div>